{% extends 'myapp/base.html' %}
{% load bootstrap4 %}
{% block meta_title %}{% if object.pk %}{{ object.title }}{% else %}新規作成{% endif %}{% endblock %}
{% block page_title %}{% if object.pk %}{{ object.title }}{% else %}新規作成{% endif %}{% endblock %}
{% block content %}
{% if object.pk %}
<form action="{% url 'myapp:item_update' object.pk %}" method="post">
    {% else %}
    <form action="{% url 'myapp:item_create' %}" method="post">
        {% endif %}
        <div class="container">
            <div class="card card-default">
                <div class="card-header">
                    Item
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            {% bootstrap_form form layout='horizontal' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3">
                            <button class="btn btn-primary">{% if object.pk %}更新{% else %}保存{% endif %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endblock %}